/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}

img {
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
